:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

/*Con los dos selectores anteriores se mejora
la adaptacion con rem 1 rem = 10 px*/

.titulo{
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    font-size: 2rem;
}

.nav-background{
    background-color: var(--secundario);
}

.principal-navigation{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.principal-navigation a{ 
    color: var(--blanco);
    text-decoration: none;
}

.contenedor{
    width: 120rem;
    margin: 0 auto;
}